body{
    font-family: 'Roboto Condensed', sans-serif;
}

a{
  text-decoration: none;
  font-size: inherit;
 
}



/* header */
header{
    background-color: #f72210;
    height: 95px;
    padding: 20px 10px 15px;
}

header img
{
    width: 100%;
}
.subscribe
{
    font-weight: 700;
    background-color: #fff;
    color: #f72210;
}

header p.date 
{
    color: #fff;
}


.text-right a
{
    color: #fff;
    font-weight: 700;
    
}
